@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-size: 12px;
  font-family: "Kumbh Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: linear-gradient(#af67e9, #6565e7);
}

.footer {
  position: absolute;
  bottom: 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: white;
}

.faq {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  height: 450px;
  width: 300px;
  box-shadow: 0 20px 40px 1px #00000074;
}
.faq .first__container {
  height: 30%;
}
.faq .first__container .image__wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
.faq .first__container .image__wrapper::before {
  width: 70%;
  height: 100%;
  position: absolute;
  left: 15%;
  top: 0;
  content: "";
  background-image: url("../images/bg-pattern-mobile.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.faq .first__container .image__wrapper .illustration__image {
  position: absolute;
  left: 15%;
  top: -70%;
  width: 70%;
}
.faq .second__container {
  height: 70%;
  padding: 0 20px;
  margin-top: -16px;
  overflow: hidden;
}
.faq .second__container .title {
  text-align: center;
  font-weight: 700;
  color: #1d1e35;
  font-size: 1.8rem;
}
.faq .second__container .questions__container {
  margin-top: 12px;
}
.faq .second__container .questions__container .question__wrapper {
  border-bottom: 1px solid #e7e7e9;
  padding: 0.8rem 0;
}
.faq .second__container .questions__container .question__wrapper .heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.faq .second__container .questions__container .question__wrapper .heading .question {
  width: 90%;
  font-size: 0.8rem;
  color: #4a4b5e;
}
.faq .second__container .questions__container .question__wrapper .heading .arrow__wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 10%;
}
.faq .second__container .questions__container .question__wrapper .heading:hover * {
  color: #f47c57 !important;
  cursor: pointer;
}
.faq .second__container .questions__container .question__wrapper .answer {
  width: 90%;
  margin-top: 4px;
  color: #787887;
  font-size: 0.7rem;
  line-height: 1.5;
  height: 0;
  visibility: hidden;
}
@media screen and (min-width: 767px) {
  .faq {
    flex-direction: row;
    justify-content: space-between;
    width: 800px;
    height: 400px;
  }
  .faq .first__container {
    width: 40%;
    height: 100%;
    position: relative;
  }
  .faq .first__container::after {
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    top: 45%;
    left: -20%;
    background-image: url("../images/illustration-box-desktop.svg");
    background-repeat: no-repeat;
    background-size: 40%;
  }
  .faq .first__container .image__wrapper {
    overflow: hidden;
  }
  .faq .first__container .image__wrapper::before {
    width: 100%;
    top: 20%;
    left: -20%;
    content: "";
    background-image: url("../images/bg-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-size: 600px 600px;
    background-position: -280px -190px;
  }
  .faq .first__container .image__wrapper .illustration__image {
    left: -20%;
    top: 20%;
    width: 100%;
    content: url("../images/illustration-woman-online-desktop.svg");
  }
  .faq .second__container {
    width: 60%;
    height: 100%;
    padding: 0 100px 0 40px;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .faq .second__container .title {
    text-align: start;
  }
  .faq .second__container .questions__container {
    margin-top: 12px;
    height: 55%;
  }
}

.selected .heading .question {
  font-weight: 700 !important;
  color: #1d1e35 !important;
}
.selected .heading .arrow__wrapper .arrow__image {
  transform: rotate(180deg) !important;
}
.selected .answer {
  visibility: visible !important;
  height: auto !important;
}

/*# sourceMappingURL=styles.css.map */
